label{
    color: #fff;
    margin-bottom: 0.5rem;
}
form{
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 400px;
}

form input, form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    border-radius: 0.75rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
}
.form p{
color:  rgba(255, 0, 0, 0.692);
margin-top: -1rem;
left: 1.25rem;
font-size: 1.1rem;
padding: 0.25rem;
}