@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: #36b7e5;

}

h1, h4, p, a{
  color: #FFFFFF;
  text-decoration: none;
}

ul{
  list-style: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  /* background: #F3D9FF; */
  background: #fbb1ec;
  /* color: #222; */
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  /* background: rgba(255, 255, 255, 0.2); */
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

/* Tamaño del scroll */
::-webkit-scrollbar {
  width: 8px;
}

 /* Estilos barra (thumb) de scroll */
::-webkit-scrollbar-thumb {
  /* background:  linear-gradient(90deg, #f8cd2d, #00BFFF, #6c0979); */
  background: #3C3D3C;

  border-radius: 6px;
}

::-webkit-scrollbar-thumb:active {
  background: #3C3D3C;

}

::-webkit-scrollbar-thumb:hover {
  background: #868887;

  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
::-webkit-scrollbar-track {
  background: #1111118e;
  border-radius: 2px;
}

::-webkit-scrollbar-track:hover, 
::-webkit-scrollbar-track:active {
  background: #000000e8;

}